/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  background-color: rgba(233, 247, 239, 0.3);
  border-bottom: 1px solid var(--hero-border-color);
  padding: 5rem;
}

.heroBanner {
  display: flex;
  flex-flow: column;
  padding: 3.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 8px -5px rgba(0, 0, 0, 0.5);
  background: center no-repeat url('/img/landing/bg-white.svg');
  background-size: cover;
}

html[data-theme='dark'] .heroBanner {
  background: center no-repeat url('/img/landing/bg-opacity.svg');
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroLogoWrapper {
    width: 192px;
    height: 192px;
  }
}

.tagline {
  margin-top: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

.heroLogoWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  height: 230px;
  margin-bottom: 2rem;
}

.cncfLogo {
  height: 90px;
}

@media screen and (max-width: 768px) {
  .cncfLogo {
    height: 64px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  display: flex;
  flex-flow: row;
}

.badgeWrapper {
  display: flex;
  flex-flow: row;
}

.badgeWrapper > * {
  margin-left: 0.2rem;
}

.badgeWrapper > :first-child {
  margin-left: -0.2rem !important;
}

.description {
  line-height: 30px;
  font-size: 1.2rem;
}

.questionIcon {
  height: 1.8rem;
}

.basicTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.basicTitle img {
  margin-right: 0.8rem;
}

.architectureImage {
  transform: scale(1.2);
}

.title {
  margin: 0 auto;
}

.featureTitle {
  margin: 0 auto;
}

.featureSubtitle {
  text-align: center;
  width: 50rem;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.title {
  margin: 5rem auto auto auto;
}

.subtitle {
  text-align: center;
  width: 50rem;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.cardWrapper > :first-child {
  margin-left: -1rem;
}

.cardWrapper .icon {
  height: 1.8rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.card {
  margin-left: 5rem;
  border: 1px solid var(--hero-border-color);
  height: 20rem;
  width: 18rem;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: var(--hero-card-color);
}

.card:hover {
  box-shadow: 0 12px 24px -6px rgba(45, 67, 121, 0.1) !important;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 500;
  vertical-align: middle;
}

.cardSubtitle {
  color: var(--hero-subtitle-font-color);
}

.userWrapper {
  display: flex;
  flex-direction: column;
}

.userTitle {
  margin: 5rem auto 0 auto;
}

.userImageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
}

.userImage {
  height: 5rem;
}

.introWrapper {
  display: flex;
  flex-direction: column;
}

.introSubtitleWrapper {
  display: flex;
  justify-content: center;
}

.introVideoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
}
